body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
* {
    font-family: 'K2D', sans-serif;
}
.header__container {
    width: 100%;
    height: 10%;
    background: rgb(18, 17, 17);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header__container > * {
    color: #fefefe;
}
.text__title {
    font-size: 2.4rem;
    user-select: none;
}
.icon__buttons {
    display: flex;
    gap: 2rem;
    padding: .5rem;
    border-radius: 8px;
}
.icon__buttons > i {
    font-size: 2rem;
    cursor: pointer;
}
.icon__buttons > i:hover {
    transform: scale(1.1);
    transition: .33s;
}
.main__container {
    width: 100%;
    text-align: center;
}

.mandatory__icon {
    color: red;
}

.form__title {
    font-size: 2.3rem;
}
.description__form {
    font-size: 1.3rem;
    color: #212020;
}
.mandatory__title {
    font-size: 1.1rem;
}
.content__infoForm {
    background: rgb(49, 48, 48);
    padding: .3rem 0 .3rem 0;
}
.content__infoForm > * {
    color: #fefefe;
}
.titleLabel {
    font-size: 1.4rem;
}
.inputElement {
    border: none;
    border: 1px solid #000;
    padding: .2rem;
    text-align: center;
    font-size: 1.4rem;
}
.titleinset__form {
    font-size: 1.4rem;
}
.container__password {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .4rem;
}
.bx-low-vision {
    font-size: 2rem;
    color: #2c2c2c;
    cursor: pointer;
}
#btnSendForm {
    width: 40%;
    height: 4rem;
    border: none;
    background: #f80032;
    border-radius: 5px;
    color: #fefefe;
    font-size: 2rem;
    cursor: pointer;
    transition: .33s;
}
#btnSendForm:hover {
    transform: scale(1.1);
}
.decorationPage {
    color: #2b2b2b;
}
.link__decoration {
    color: #6c6c6c;
}
.link__decoration:hover {
    transition: .33s;
    color: rgb(65, 65, 204);
}
.cardForm {
    position: absolute;
    margin-top: 50%;
    margin-left: 50%;
    transform: translate(-50%,-50%);
    background: rgb(243, 242, 242);
    border: 2px solid #000;
    border-radius: 12px;
    text-align: center;
    padding: 2rem 2rem 2rem 2rem;
}
.cardForm > i:first-child {
    font-size: 3rem;
    color: rgb(235, 11, 11);
}
.cardForm > i:last-child {
    font-size: 3rem;
    border: 2px solid #000;
    border-radius: 8px;
    transition: .33s;
    cursor: pointer;
}
.cardForm > i:last-child:hover {
    transform: scale(1.1);
    background: #ff010126;
    color: #222020;
}
.hidden {
    display: none;
}
.border_red {
    border: 1px solid rgb(255, 1, 1);
    border-radius: 5px;
}